{{ define "main" }}
	<div class="intro" onclick="window.location='/#list'">

		<p>Pari pays respect to the Burramattagal people of the Darug nation as the custodians of the land on which we are based. <br>We acknowledge that sovereignty has not been ceded and pay respect to Elders past, present and emerging.<br>
		<br>Pari is an artist-run initiative in Parramatta. We are for art that tells stories that need to be told, sheds new light on old thinking, or tackles new ideas altogether.</p>

	</div>

	<main id="list">
		<h1>Current Show</h1>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</main>
{{ end }}
