{{ define "main" }}
	<main class="exhibition">
		{{ range first 1 (.Resources.ByType "image") }}
		<figure class="exhibition__cover">
			<img src="{{ .Permalink }}">
		</figure>
		{{ end }}

		<article class="exhibition__description">
			<div>
				{{ .Content }}
				<p></p>
				<p>For more information about each workshop, head <a href="/p2p/event" style="text-decoration:underline">here</a>.</p>
				<hr>
			</div>
			<div></div>
			<div class="gudskul">
				<p><span style="font-weight:bold!important">Gudskul workshop: Speculative Collective</span></p>
				{{ .Params.gudskulinfo2 | markdownify }}
				<video src="Pari_P2P_Gudskul.mp4" controls style="max-width:100%;margin-left:50%;transform:translateX(-50%);"></video>
				<p></p>
				<hr>
			</div>
			<div class=""></div>
			<div class="whitepube">
				<p><span style="font-weight:bold!important">The White Pube workshop: how to write from The Self</span></p>
				{{ .Params.whitepubeinfo2 | markdownify }}
				<p></p>
				<img src="Pari_P2P_Quotes.png" alt="Pari x White Pube workshop quotes">
			</div>
		</article>

		<article style="margin-top:40px">
			<img class="p2p_logos" src="{{ .Permalink }}/P2P_Logos.png" alt="Australia Council, Gudskul and The White Pube logos">
			<p style="font:var(--secondary); text-align:center">This project has been assisted by the Australian Government through the Australia Council, its arts funding and advisory body.</p>
		</article>
	</main>
{{ end }}
