<!-- <article class="list__item callout">
  <h2>Announcement</h2>
  <h1>2021–2022 Callout</h1>
  <h2>Applications Closed</h2>
</article> -->
{{ range after 1 (where .Site.RegularPages "Section" "programming" ) }}
<a class="list__item--a" href="{{ .Permalink }}">
<article class="list__item list__item--previous" style="background:#{{ .Params.colour }}">
  <h2>Previous Exhibition</h2>
  <h1>{{ .Title }}</h1>
  <h2>{{ .Params.exhibition_start }}–{{ .Params.exhibition_end }}</h2>
</article>
</a>
{{ end }}
<a class="list__item--a" href="{{ .Permalink }}p2p">
  <article class="list__item event">
    <h2>Workshop</h2>
    <h1>P2P: A series of online workshops with Gudskul & The White Pube</h1>
    <h2>Oct–Nov 2020</h2>
  </article>
</a>
