{{ define "main" }}
<main class="home">
	<div class="intro">
		<p>Pari pays respect to the Burramattagal people of the Darug nation as the custodians of the land on which we are based. We acknowledge that sovereignty has not been ceded and pay respect to Elders past, present and emerging.<br>
		<br>Pari is an artist-run initiative in Parramatta. We are for art that tells stories that need to be told, sheds new light on old thinking, or tackles new ideas altogether.</p>
	</div>
	<div class="list">
		<a class="list__item--a" href="{{ .Permalink }}/p2p">
			<article class="list__item event">
			  <h2>Workshop</h2>
			  <h1>P2P: A series of online workshops with Gudskul & The White Pube</h1>
			  <h2>Applications Closed</h2>
			</article>
		</a>
		{{ .Render "current"}}
		{{ .Render "previous"}}
	</div>

</main>


{{ end }}
