{{ define "main" }}
	<main class="exhibition">
		{{ range first 1 (.Resources.ByType "image") }}
		<figure class="exhibition_header">
			<img src="{{ .Permalink }}">
		</figure>
		{{ end }}

		<article id="exhibition_info">
			<div class="exhibition_info">
				<h1>{{ .Title }}</h1>
				<ul>
					<li>{{ .Params.exhibition_start }} –</li>
					<li>{{ .Params.exhibition_end }}</li>
				</ul>
			</div>

			{{ if or .Params.artists .Params.curators }}
			<div class="exhibition_artists">
				{{ with .Params.artists }}<p>{{ . }}</p>{{ end }}
				{{ with .Params.curators}}<p>Curated by {{ . }}</p>{{ end }}
			</div>
			{{ end }}

			<div class="exhibition_description">
				{{ .Content }}
				{{ range first 1 (.Resources.ByType "pdf") }}
					<br>
					<a href="{{ .Permalink }}" target="_blank" class="button">Roomsheet (PDF)</a>
				{{ end }}
			</div>
		</article>
		{{ range after 1 (.Resources.ByType "image") }}
		<figure class="exhibition_documentation">
			<img src="{{ .Permalink }}">
		</figure>
		{{ end }}
	</main>
{{ end }}
